    <div class="bar-tab">
      <ul class="tab-inner">
        <li class="tab-item"><%= link_to "At Home", item_purchases_path %></li>
        <li class= "tab-item"><%= link_to "Shopping List", '#' %></li>
      </ul>
    </div>

