<nav class="bar-tab">
  <ul class="tab-inner">
    <li class="tab-item active">
      <a href=<%=item_purchases_user_spending_path%>>
        <img class="tab-icon" src="img/icon-review.png">
        <div class="tab-label">Review</div>
      </a>
    </li>
    <li class="tab-item">
      <a href=<%=root_path%>>
        <img class="tab-icon" src="img/icon-home.png">
        <div class="tab-label">Home</div>
      </a>
    </li>
    <li class="tab-item">
      <a href=<%=shopping_list_items_path%>>
        <img class="tab-icon" src="img/icon-list.png">
        <div class="tab-label">List</div>
      </a>
    </li>
</ul>
</nav>