<header class="bar-title">
	<a class="navcell-1 left back button-prev" href="<%= item_purchases_path %>">
		Home
	</a>
	<h1 class="title settings-title">
		My Settings
	</h1>
	<!-- 
	<a class="navcell-2 right" href="#additem">
		Add Item
	</a> -->
</header>

<div class="content store-accounts-list">
	<div class="padded-content">
	  <h2>Store Accounts</h2>
	  <ul class="list inset">
	  
	  </ul>
	  <h2>App Settings</h2>
	  <ul class="list inset">
	  </ul>
	</div>
</div>
