<div class="content">	
	<p class="empty-list-message">
		You don't have any items in your <%= @pagetitle %>. <a href="#membership-setup">Set up a grocery account to have your purchases added automatically</a>, or enter an item using the "Add Item" button at the top of the screen.
	</p>
</div>