<div class="top-navbar">
	<h1 class="page-title">
		<%= @pagetitle %>
	</h1>
	<a class="navcell-2 right" href="#additem">
		Add Item
	</a>
</div>
<table class="inventory-item-list">
	<tbody>
	<% @items.each do |item| %>
		<tr>
			<td><%= item['name'] %></td>
			<td><%= item['status'] %></td>
		</tr>
	<% end %>
	</tbody>
</table>