<div class="top-navbar">
	<h1 class="page-title">
		<%= @pagetitle %>
	</h1>
	<a class="navcell-2 right" href="#additem">
		Add Item
	</a>
</div>
<table class="inventory-item-list">
	<tbody>
	<% @items.each do |item_purchase| %>
		<tr class="<%=  %>">
			<td><%= item_purchase.name %></td>
			<td><%= item_purchase.status_to_s %></td>
		</tr>
	<% end %>
	</tbody>
</table>