<div class="bar-title">
	<%= link_to "Back", item_purchases_path, html_options = {'class' => "navcell-1 left back button-prev"} %>
	<h1 class="title">
		Almost Out
	</h1>
</div>
<div class="content">
	<table class="running-low-list">
		<tbody>
		<% @items.each do |item_purchase| %>
			<tr class="<%=  %>">
				<td><%= item_purchase.name %></td>

				<td><%= link_to raw("Add to Shopping List"), {:controller=>"shopping_list_items", :action=>"create", :shopping_list_item => {:customer_id => @current_user.customer_id, :item_id => item_purchase.item.id}}, :method => :post, :class => 'button'%></td>
			</tr>
		<% end %>
		</tbody>
	</table>
</div>