<div class="top-navbar">
	<a class="navcell-1 left" href="#">
		Back
	</a>
	<h1 class="page-title">
		Running Low
	</h1>
</div>

<table>
	<%# this should loop over a list passed in from the controller %>
	<tr>
		<td>[placeholder - item name]</td>
		<td><a>[placeholder - a link which adds this item to the shopping list]</a></td>
	</tr>
	<%# end %>
</table>