<div class="top-navbar">
	<a class="navcell-1 left" href="#">
		Back
	</a>
	<h1 class="page-title">
		Item Details
	</h1>
</div>

<table>
	<tr>
		<th>Last purchased</th>
		<td>[placeholder]</td>
	</tr>
	<tr>
		<th>Quantity</th>
		<td>[placeholder]</td>
	</tr>
	<tr>
		<th>Store</th>
		<td>[placeholder]</td>
	</tr>
	<tr>
		<th>Price</th>
		<td>[placeholder]</th>
	</tr>
</table>

<a href='#'>Add to my shopping list.</a>

<div class="item_status">
	<%# loop over model statuses here and highlight the one that is the current status for this item. these should also be special links that update the status when clicked (like the task check off buttons in the 272 chores app example) %>
</div>