<div class="top-navbar">
	<h1 class="page-title">
		What I Have At Home
	</h1>
	<a class="navcell-2 right" href="#additem">
		Add Item
	</a>
</div>
<div class="inventory-locations-list">
  <ul>
    <% @item_sections.each do |section| %>
      <li><%= link_to section[0], items_path(:f => section[1]) %></li>
    <% end %>
  </ul>
</div>
