.content {
	background-color: #f2f0d7;
}
.bar-title {
	background-image: linear-gradient(to bottom, rgb(172, 213, 124) 0, #98bc6d 100%);
	background-color: #98bc6d;
}
.bar-tab {
	background-image: linear-gradient(to bottom, rgb(255, 214, 90) 0, #e8c251 100%);
	background-color: #e8c251;
}
.inventory-locations-list .list {
	background-color: none;
}